@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Ubuntu+Mono:wght@700&display=swap");

* {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.text-shadow {
  text-shadow: 0px 4px 4px #0099ff;
}

.text-shadow-dark {
  text-shadow: 0px 4px 4px #2a5bf8;
}

.text-gradient {
  background: linear-gradient(45deg, #0099ff, #2c36fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-shadow:hover {
  filter: drop-shadow(3px 5px 2px #2d3ae8);
}

.image-shadow-light:hover {
  filter: drop-shadow(3px 5px 2px #123cd2);
}

.image-shadow-lg {
  filter: drop-shadow(3px 5px 2px #3c44b1);
}

/* Customize the scrollbar for WebKit browsers */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #545cfd;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #15171c;
}
